.passkey_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input_container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.passkey_input {
  width: 8rem;
  height: 8rem;
  padding: 1rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #363a3d;
  box-shadow: 0px 1px 2px 0px #1018280d;
  background-color: #131619;
  color: #d0d5dd;
  font-size: 4.8rem;
  line-height: 6rem;
  text-align: center;
}

.passkey_button {
  padding: 1rem 2.4rem;
  background-color: #24ae7c;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  border-radius: 8px;
  border: none;
}

.loading_btn {
  background-color: #2a2d2f;
  color: #898a8c;
  cursor: not-allowed;
}

.loading_btn:hover {
  background-color: #2a2d2f !important;
}

@media (max-width: 1000px) {
  .input_container {
    flex-direction: column;
  }
}
